/* font-family: 'Poppins', sans-serif; */

.html {
    width: 100%;
}

.break {
    flex-basis: 100%;
    height: 0;
}

.colored-container {
    min-height: 700px;
    height: 76vh;
    background-color: #eef3e5;
}

.colored {
    background-color: #eef3e5;
}

.spacing-div {
    height: 88px;
}

.spacing-div-small {
    height: 40px;
}

.width75 {
    width: 75%;
}

/* Home Page */

#Introduction {
    display: flex;
    align-items: center;
    width: 75%;
    justify-content: space-around;
    background-color: #eef3e5;
    min-height: 700px;
    height: 76vh;
}

.intro {
    max-width: 500px;
}

.intro p {
    position: relative;
    left: -25px;
    bottom: -25px;
}

.intro-title{
    position: relative;
    bottom: -10px;
    left: -25px;
    width: 100%;
}


.lightbulb-gif {
    display: flex;
    max-width: 300px;
    justify-content: center;
    margin-bottom: 3%;
}

.lightbulb-gif img {
    max-height: 438px;
}


.intro-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    line-height: 4.5rem;
    font-size: 3rem;
}

.intro-paragraph {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    font-size: 1.2rem;
    color: #666666;
}



/* About Me */

#front-about-me {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 75%;
}

#front-about-me img {
    margin-left: 7%;
    max-width: 463px;
}

.about-me-word-section {
    position: relative;
    left: 32px;
    max-width: 47%
}

.section-title {
    position: relative;
    top: 35px;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 26;
    color: #617e4d;
}

.section-paragraph {
    position:relative;
    top: 65px;
    line-height: 1.6rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #5b5b5b;
}

.project-image {
    max-width: 300px;
}

/* featured Projects */

#myCarousel {
    width: 70%;
    margin: auto;
}

#feature-project-text {
    text-align: center;
}

/* .bd-placeholder-img {
    max-height: 580px;
} */

.about-me-projects {
    width: 75%;
}

.album {
    position: relative;
    top: 25px;
}


.card-title {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 1.2rem;
    color: #5b5b5b;
}

.card-text {
    color: #666666;
}





#about-me {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    right: 45px;
}


#about-me .about-me-word-section {
    position: relative;
    right: 0px;
    max-width: 45%
}

#about-me img {
    position: relative;
    max-width: 464px;
}

#quote {
    height: 200px;
    text-align: center;
}

#quote .section-title {
    color: rgba(79,105,77,1);
    font-size: 1.4rem;
    position: relative;
    top: 85px;
}

#resume {
    position: relative;
    left: 100px;
}

.mb-4 {
    color: rgba(79,105,77,1);
}


.project-showcase {
    width: 75%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}

.project-intro .section-title {
    top: 0px;

}


#Design-Philosophy {
    width: 75%;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
}


.project-features {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 10%;
}

.project-features div img {
    max-width: 600px;
    max-height: 400px;
}

.responsive {
    max-width: 100%;
    height: auto;
  }

.margin-auto {
    margin: auto;
}


.rounded {
    border-radius: 50%;
}

.centered-element {
    display: grid;
	align-items: center;
}